.Card {
  display: flex;
  flex-direction: column;

  justify-content: center;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  img {
    background-color: lightgrey;
    align-self: center;
  }
  div {
    label,
    span {
      font-weight: bold;
    }
  }
  @media (max-width: 600px) {
    overflow-y: unset;
    width: 100%;
  }
}
.launchDetails {
  padding-left: 0;
  list-style-type: none;
  &ul {
    li {
      margin: unset;
    }
  }
}
