.Tile {
  width: 45%;
  text-align: center;
  padding: 3px 18px;
  margin: 5px;
  border-radius: 5px;
  background-color: limegreen;
  text-transform: capitalize;
}
.active {
  width: 45%;
  text-align: center;
  padding: 3px 18px;
  margin: 5px;
  border-radius: 5px;
  background-color: darkseagreen;
  text-transform: capitalize;
}
